<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="d-flex justify-content-center align-items-center">
    <h1>
      The Tech Blog
    </h1>
  </header>

  <div class="d-flex flex-row">
    <nav>
      <ul class="navbar d-flex justify-content-around align-items-center">
        <li class="navlink"><a href="/">Home</a></li>
        <li class="navlink"><a href="/api/dashboard">Dashboard</a></li>
        {{#if logged_in}}
          <li class="navlink"><a id="logout">Logout</a></li>
        {{else}}
          <li class="navlink"><a href="/login" id="login">Login</a></li>
        {{/if}}
      </ul>
    </nav>

  <main>
    {{#if logged_in}}
      <p class="username text-center m-4">
        Logged in as <strong>{{username}}</strong>
      </p>
    {{/if}}
    {{{ body }}}
  </main>
  </div>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>